.banner {
    background: url(https://i.ibb.co.com/MkP9WRM/bg-shadow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    border-radius: 1rem;
    color: white;
}

